div {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    margin: 10xp;
}
.title{
    font-family: PixelifySans;
    font-size: 80px;
    text-shadow: -6px 2px 0 #000;
    color: blueviolet;
    background-color: cornflowerblue;
    height: 100px;
    text-align: centre;
}

#Count{
    font-family: font-family:'PixelifySans';
    font-weight: 800;

}

#uppercase {
    text-transform: uppercase;
}
