body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container {
    /*Draw a solid border */
    border-style: solid;
    border-width: 9px;
    border-color: aquamarine;
    /*Add space between */
    padding: 9px;
    background: lightpink;
    width: 70%;
    margin: auto;
}

div.align{
    text-align: center;
}

.secondary-container{

    margin: auto;
    width: 55%;
    padding: 50px;
    border-bottom: 1px black solid;
    border-spacing: inherit;

}

#mainheader{
    position: relative;
    left: 25px;
    top: 10px;
    color: black;
    opacity: .65;
    font-size: 60px;
}